@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}

<div class="card-body">
    <h5 class="card-title text-center">О нас</h5>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Контакты:</h5>
    </div>
    <ul class="list-group list-group-flush" id="ulListId">
        <li class="list-group-item">Адрес: г. Москва, ул. Шоссейная, д.58, офис 168 </li>
        <li class="list-group-item">Телефон: +7 (985) 044-45-67 </li>
        <li class="list-group-item">Электронная почта: bajaj@motoland.ru</li>
        <li class="list-group-item">Интернет-магазин «bajaj»</li>
    </ul>
</div>
<div style="padding: 10px;"></div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Если вам не звонят после заказа:</h5>
    </div>
    <ul class="list-group list-group-flush" id="ulListId">
        <li class="list-group-item">Ожидаение может занять чуть более часа. Если вы сделали заказ в момент сильной загруженности</li>
        <li class="list-group-item">Проверьте правильность номера телефона в своём профиле</li>
        <li class="list-group-item">Проверьте почту. Если вам не могут дозваниться то информация будет отправленна вам на почту</li>
        <li class="list-group-item">Проверьте правильность почты в своём профиле</li>
    </ul>
</div>